body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
  "header header header"
  "body body body"
  "footer footer footer";
  grid-template-columns: auto 350px auto;
}



header{
  display: grid;
  grid-area: header;
  grid-template-areas: "camera logo direct";
  grid-template-columns: 10% 80% 10%;
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
  line-height: 60px; 
  background-color: white;
}

.align-center{
  align-items: center;
}

.camera{
  grid-area: camera;
  display: flex;
  justify-content: center;
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.direct{
  grid-area: direct;
  display: flex;
  justify-content: center;
}

.icon{
  width: 30px;
  height: 30px;
}

.side-bar-1{
  grid-area: side-bar-1;
  width: calc(50% - 175px);
}

.side-bar-2{
  grid-area: side-bar-2;
  width: calc(50% - 175px);
}

.body{
  margin-top: 60px;
  grid-area: body;
  display: grid;
  justify-content: center;
  grid-template-areas: "side-bar-1 posts side-bar-2";
  overflow-x: scroll;
}

.posts{
  grid-area: posts;
}

.post{
  grid-area: post;
  display: grid;
  width: 350px;
}

.post-header{
  display: grid;
  line-height: 60px;
  height: 60px;
  grid-template-areas: "avatar nickname-position action-menu";
  grid-template-columns: 60px auto 60px;
}

.avatar{
  grid-area: avatar;
  display: flex;
  justify-content: center;
}

.nickname-position{
  display: grid;
  grid-template-areas:
  "nickname"
  "position";
}

.nickname{
  grid-area: nickname;
  height: 30px;
  line-height: 30px;
}

.position{
  grid-area: position;
  height: 30px;
  line-height: 30px;
}

.action-menu{
  grid-area: action-menu;
  display: flex;
  justify-content: center;
}

.img{
  width: 350px;
}

.reaction-bar{
  display: grid;
  grid-template-areas: "likes comments share empty-space bookmark";
  grid-template-columns: 60px 60px 60px auto 60px;
  height: 60px;
  line-height: 60px;
}

.like{
  grid-area: likes;
  display: flex;
  justify-content: center;
}

.comments{
  grid-area: comments;
  display: flex;
  justify-content: center;
}

.share{
  grid-area: share;
  display: flex;
  justify-content: center;
}

.empty-space{
  grid-area: empty-space;
}

.bookmark{
  grid-area: bookmark;
  display: flex;
  justify-content: center;
}

.description{
  line-height: 30px;
}

.description-nick{
  font-style: oblique;
}

footer{
  display: grid;
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  grid-template-areas: "homepage search plusphoto likes mypage";
  grid-template-columns: repeat(20%, 5);
  height: 60px;
  border-top: 1px solid black;
  line-height: 60px;
}

.homepage{
  grid-template: homepage;
  display: flex;
  justify-content: center;
}

.search{
  grid-template: search;
  display: flex;
  justify-content: center;
}

.plusphoto{
  grid-template: plusphoto;
  display: flex;
  justify-content: center;
}

.likes{
  grid-template: likes;
  display: flex;
  justify-content: center;
}

.mypage{
  grid-template: mypage;
  display: flex;
  justify-content: center;
}
